{% extends "blog/base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "post-details.css" %}">
{% endblock %}

{% block title %}
    {{ post.title }}
{% endblock %}

{# these blocks are then populated directly in the base.html dynamically #}
{% block content %}
        <section id="summary">
            <h2>{{ post.title }}</h2>
            <article>
                <img src="{% static 'images/'|add:post.image %}" alt="{{ post.title }}">
                <address>By {{ post.author }}</address>
                <div>
                    Last updated on <time>{{ post.date|date:'D d M Y' }}</time>
                </div>
            </article>
        </section>
    
    
        <main>
            {{ post.content|linebreaks }}
        </main>
{% endblock %}
